<div class="bugInfoo">
	<h5>Date and Time you Noticed this Bug*</h5>

	<div>
		<input class="datee" type="date">
	</div>
	<div>
		<input class="datee" type="time">
	</div>
</div>

<div class="theory">

	<div>
		<label for="imp">Impact</label>
	</div>
	<select class="options" name="impactt" id="imp">
		<option value="1">low</option>
		<option value="5">high</option>
	</select>

</div>

<div class="detsil">

	<div>
		<label for="desc">Detailed Infomation of Bug</label>
	</div>

	<div>
		<input class="subb" type="text">
	</div>

</div>